@charset"UTF-8";
@import url(reset.css);

h1 {
    width: 1200px;
    padding: 20px;
    margin: 40px auto;
    text-align: center;
}

div#wrap {
    border: 1px solid #000;
    width: 1200px;
    height: 300px;
    padding: 40px 10px;
    margin: 0 auto;

}

div#contents {
  /*  border: 3px solid #08f;*/
}

div#contents > div {
    width: 400px;
    height: 200px;
    padding: 6px;
    margin: 6px;

}

#notice button.tabBtn {
    font-size: 22px;
    padding: 4px 14px;
    border: 1px solid #aaa;

    border-bottom-color: #fff;
    background-color: #fff;
    position: relative;
    left: 20px;
    top: 1px;
}

div#gallery button.tabBtn {
    font-size: 22px;
    padding: 4px 14px;
    border: 1px solid #aaa;
    background-color: #eee;

    position: relative;
    left: 20px;
    top: 1px;
}

div.tabContents {
    border: 1px solid #aaa;
    padding: 4px;
}

div#notice td {
    line-height: 36px;
}

div#notice table {
    width: 100%;
    border-collapse: collapse;
    /* td구간 연결 */
}

div#notice td:first-child {
    padding: 0 20px 0 10px;
}

div#notice tr:nth-child(2n-1) td {
    background-color: #eee;
}
